#!/bin/bash

set -eufo pipefail

{{ $taps := list
     "FelixKratz/formulae"
     "nikitabobko/tap"
     "deskflow/homebrew-tap" -}}
{{ $brews := list
     "bat"
     "btop"
     "chezmoi"
     "entr"
     "eza"
     "fd"
     "fish"
     "fzf"
     "gh"
     "git"
     "git-delta"
     "glow"
     "go"
     "hub"
     "imagemagick"
     "jless"
     "jq"
     "pinentry-mac"
     "presenterm"
     "rip2"
     "ripgrep"
     "tealdeer"
     "tmux"
     "vivid"
     "wget"
     "yamllint"
     "yazi"
     "felixkratz/formulae/sketchybar" -}}
{{ $casks := list
     "1password"
     "1password-cli"
     "betterdisplay"
     "deskflow"
     "docker"
     "firefox"
     "font-hack-nerd-font"
     "font-jetbrains-mono"
     "ghostty"
     "obsidian"
     "raycast"
     "nikitabobko/tap/aerospace" -}}

brew bundle --file=/dev/stdin <<EOF
{{ range ($taps | sortAlpha | uniq) -}}
tap "{{ . }}"
{{ end -}}
{{ range ($brews | sortAlpha | uniq) -}}
brew "{{ . }}"
{{ end -}}
{{ range ($casks | sortAlpha | uniq) -}}
cask "{{ . }}"
{{ end -}}
EOF
