promptToReturnFromSubprocess: false
git:
  overrideGpg: true
  commit:
    autoWrapWidth: 80
  pagers:
    - colorArg: always
      pager: delta --paging=never --hyperlinks --hyperlinks-file-link-format="lazygit-edit://{path}:{line}"
gui:
  authorColors:
    "EJ": "#589ed7"
    "maddawik": "#589ed7"
    # "*": "#ff966c"
  sidePanelWidth: 0.25
  showIcons: true
  showFileIcons: true
  nerdFontsVersion: "3"
  spinner:
    frames:
      [
        "\U0001F311 ",
        "\U0001F312 ",
        "\U0001F313 ",
        "\U0001F314 ",
        "\U0001F315 ",
        "\U0001F316 ",
        "\U0001F317 ",
        "\U0001F318 ",
      ]
    rate: 80
  theme:
    activeBorderColor:
      - "#ff966c"
      - "bold"
    inactiveBorderColor:
      - "#589ed7"
    searchingActiveBorderColor:
      - "#ff966c"
      - "bold"
    optionsTextColor:
      - "#82aaff"
    selectedLineBgColor:
      - "#2d3f76"
    inactiveViewSelectedLineBgColor:
      - "#2d3f76"
    cherryPickedCommitFgColor:
      - "#82aaff"
    cherryPickedCommitBgColor:
      - "#c099ff"
    markedBaseCommitFgColor:
      - "#82aaff"
    markedBaseCommitBgColor:
      - "#ffc777"
    unstagedChangesColor:
      - "#c53b53"
    defaultFgColor:
      - "#c8d3f5"
  branchColorPatterns:
    "^main": "blue"
    "^master": "blue"
    '^\d+-*': "#c099ff"
    "^feature": "green"
    "^release": "yellow"
    "^hotfix": "red"
  expandFocusedSidePanel: true
  expandedSidePanelWeight: 3
customCommands:
  - key: "C"
    command: 'git commit -m "{{ .Form.Type }}{{if .Form.Scopes}}({{ .Form.Scopes }}){{end}}: {{ .Form.Description }}"'
    description: "Conventional commit"
    context: "files"
    prompts:
      - type: "menu"
        title: "Select the type of change you are committing"
        key: "Type"
        options:
          - name: "Feature"
            description: "A new feature"
            value: "feat"
          - name: "Fix"
            description: "A bug fix"
            value: "fix"
          - name: "Operations"
            description: "Infra, deployment, backup, recovery..."
            value: "ops"
          - name: "Build"
            description: "Build tools, CI, dependencies..."
            value: "build"
          - name: "Chore"
            description: "Miscellaneous commits"
            value: "chore"
          - name: "Documentation"
            description: "Doc updates"
            value: "docs"
          - name: "Refactor"
            description: "Reorganization of code"
            value: "refactor"
          - name: "Tests"
            description: "Adding or updating tests"
            value: "test"
          - name: "Style"
            description: "Formatting, linting, white-space..."
            value: "style"
          - name: "Performance"
            description: "Make it go vroom fast"
            value: "perf"
      - type: "input"
        title: "Enter the scope(s) of the change (Optional)"
        key: "Scopes"
      - type: "input"
        title: "Enter a short description of the change"
        key: "Description"
      - type: "menu"
        title: "Is this a breaking change?"
        key: "Breaking"
        options:
          - name: "No"
            description: "This is backwards compatible with existing code."
            value: "no"
          - name: "Yes"
            description: "This introduces a breaking change."
            value: "yes"
      - type: "confirm"
        title: "Looks good?"
        body: "{{ .Form.Type }}{{if .Form.Scopes}}({{ .Form.Scopes }}){{end}}{{if eq .Form.Breaking `yes`}}!{{end}}: {{ .Form.Description }}"
