# fancy pants
alias git="hub"
alias vim="nvim"
alias ls="eza --icons --git"
alias watch="viddy"
alias icat 'kitty +kitten icat --align left'
alias nv="nvim"
alias pn="pnpm"
alias yless="jless --yaml"

# copy/pasta
{{- if eq .chezmoi.os "darwin" }}
alias c="pbcopy"
alias v="pbpaste"
{{- else }}
alias c="xclip -selection clipboard"
alias v="xclip -selection clipboard -o"
{{- end }}

# tmux
alias tm="tmux"
alias tma="tmux at"
alias tml="tmux ls"

# tmuxinator
alias mux="tmuxinator"

# ls
alias l="ls"
alias ll="ls -l"
alias la="ls -a"
alias lla="ls -al"
alias lt="ls -l --tree"
alias lt2="ls -l --tree --level=2"
alias lt3="ls -l --tree --level=3"
alias lt4="ls -l --tree --level=4"
alias lt5="ls -l --tree --level=5"

# git
alias ga="git add"
alias gc="git commit -m"
alias gd="git diff"
alias gf="git fetch"
alias gp="git pull"
alias gP="git push"
alias gs="git status"
alias gco="git checkout"
alias gsw="git switch"
alias gbr="git switch -c"

# dotfiles
alias cm="chezmoi"
alias cma="chezmoi add"
alias cmr="chezmoi re-add"
alias cme="chezmoi edit --apply"
alias cms="chezmoi status"
alias cmd="chezmoi diff"
alias cmA="chezmoi -v apply"
alias cmcd="cd {{ .chezmoi.homeDir }}/.dotfiles"

# lazygit
alias lz="lazygit"
alias lzc="lz --path {{ .chezmoi.homeDir }}/.dotfiles"

# lazydocker
alias lzd="lazydocker"

# github cli
alias ghb="gh browse"
alias ghd="gh dash"
alias ghp="gh pr create"

# godot
alias nvg="nvim --listen /tmp/godot.pipe ."

# other
alias tools="glow {{ .chezmoi.homeDir }}/.config/docs/tools.md"
alias ccs="glow {{ .chezmoi.homeDir }}/.config/docs/ccs.md"
alias reload="exec bash"

# starship
eval "$(starship init bash)"
