if status --is-interactive
  # fancy pants
  alias git   hub
  alias ls    'exa --icons'
  alias watch viddy
  alias icat  'kitty +kitten icat'
  abbr  nv    nvim

  # copy/pasta
{{- if eq .chezmoi.os "darwin" }}
  alias c pbcopy
  alias v pbpaste
{{- else }}
  alias c 'xclip -selection clipboard'
  alias v 'xclip -selection clipboard -o'
{{- end }}

  # tmux
  abbr tm  tmux
  abbr tma tmux at
  abbr tml tmux ls

  # ls
  abbr l   ls
  abbr ll  ls -l
  abbr la  ls -a
  abbr lla ls -al
  abbr lt  ls -l --tree
  abbr lt2 ls -l --tree --level=2
  abbr lt3 ls -l --tree --level=3

  # git
  abbr ga  git add
  abbr gc  git commit -m
  abbr gd  git diff
  abbr gf  git fetch
  abbr gp  git pull
  abbr gP  git push
  abbr gs  git status
  abbr gco git checkout
  abbr gsw git switch
  abbr gbr git switch -c

  # dotfiles
  abbr cm   chezmoi
  abbr cma  chezmoi add
  abbr cmr  chezmoi re-add
  abbr cme  chezmoi edit --apply
  abbr cms  chezmoi status
  abbr cmd  chezmoi diff
  abbr cmA  chezmoi -v apply
  abbr cmcd cd {{ .chezmoi.homeDir }}/.dotfiles

  # lazygit
  alias lz  lazygit
  # lazychezmoi
  alias lzc "lz --path {{ .chezmoi.homeDir }}/.dotfiles"

  # github cli
  abbr ghb gh browse
  abbr ghd gh dash
  abbr ghp gh pr create

  # taskwarrior
  alias tt taskwarrior-tui
  abbr ta  task add
  abbr tl  task list

  # other
  alias reload 'exec fish'
end
