if not status is-interactive
    exit
end

# quick 🔒
abbr shh fish --private
alias reload 'exec fish'

# fancy pants
alias git hub
alias vim nvim
alias ls 'eza --icons --group-directories-first'
abbr nv nvim
abbr yless 'jless --yaml'

# copy/pasta
{{- if eq .chezmoi.os "darwin" }}
alias c pbcopy
alias v pbpaste
{{- else }}
alias c 'xclip -selection clipboard'
alias v 'xclip -selection clipboard -o'
{{- end }}

# ls shortcuts
alias l ls
abbr lla ls -al
abbr lt ls --tree
abbr lt2 ls --tree --level=2
abbr lt3 ls --tree --level=3
abbr lt4 ls --tree --level=4
abbr lt5 ls --tree --level=5

# tmux
abbr tm tmux
abbr tma tmux at
abbr tml tmux ls

# git
abbr ga git add
abbr gd git diff
abbr gf git fetch
abbr gp git pull
abbr gP git push
abbr gs git status
abbr gco git checkout
abbr gsw git switch
abbr gbr git switch -c
abbr --set-cursor='%' -- gc 'git commit -m "%"'
abbr gca git commit --amend --allow-empty --allow-empty-message --no-edit

abbr --command git l 'log --pretty=format:"%C(yellow)%h\\ %ad%Cred%d\\ %Creset%s%Cblue\\ [%cn]" --decorate --date=short'
abbr --command git ll 'log --pretty=format:"%C(yellow)%h%Cred%d\\ %Creset%s%Cblue\\ [%cn]" --decorate --numstat'
abbr --command git lll 'log -u'
abbr --command git t 'log --graph --abbrev-commit --decorate --oneline'
abbr --command git bc 'clone --bare'

# github cli
abbr ghb gh browse
abbr ghd gh dash
abbr ghp gh pr create --fill-first --assignee @me
abbr --set-cursor='%' -- ghid 'gh issue develop % --checkout'
abbr --set-cursor='%' -- ghcs 'gh copilot suggest "%"'
abbr --set-cursor='%' -- ghce 'gh copilot explain \'%\''
abbr ghcel "gh copilot explain "\'(history | head -n1 | string trim)\'

# dotfiles
abbr cm chezmoi
abbr cma chezmoi add
abbr cmA chezmoi -v apply
abbr cmc chezmoi cd ~
abbr cmd chezmoi diff
abbr cme chezmoi edit --apply
abbr cmf chezmoi forget
abbr cmr chezmoi re-add
abbr cmR chezmoi remove
abbr cms chezmoi status

# lazygit
alias lz lazygit
alias lzc "lz --path {{ .chezmoi.config.sourceDir }}"

# lazydocker
alias lzd lazydocker

# other
alias tools 'glow {{ .chezmoi.homeDir }}/.config/docs/tools.md'
